*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    height: 3.125rem;
    background-color: rgb(221,38,60);
    display: flex;
    justify-content: center;
}
.navContainer{
    width:100%;
    /* max-width: 1024px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 700;
}
.navButton{
  /* margin-left:20px; */
  /* display: flex; */
  gap: 1rem;
  border:none;
  /* padding:5px 10px; */
  cursor: pointer;
  color:red;
  border-radius: 3px;
  width: 5.5rem;
  height: 1.2rem;
}
.navItems{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap:1rem
}
@media screen and (max-width:576px){
.navItems{
    justify-content: center;
}
.navButton{
    width: 3.2rem;
}
}