.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:1.25rem
}
.pListItem{
    flex:1;
    cursor: pointer;
}
.pListImg{
    width: 100%;
    border-radius: 10px;
    height: 9.375rem;
    object-fit: cover;
}
.pListTitles>h1{
    font-size: 1.125rem;
    text-transform: capitalize;
}
.pListTitles>h2{
    font-size: .875rem;
    font-weight: 300;
}
@media screen and (max-width:452px){
    .pList{
      flex-direction: column;
      width: 50vw;
      justify-content: center;
    }
    }